# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projektyC\Projekt_Statki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
